.input-data-filtro {
  --ion-background-color: #ffffff;

  ion-datetime {
    --padding-top: 16px;
  }
}

.input-nome-aniversariante {
  --ion-background-color: #ffffff;
  --border-radius: 5px;
  --border-width: 1px;
  --border-style: solid;
  --border-color: #cfd3d6;
  --box-shadow: none;

  margin: 16px 10px;

  ion-label {
    font-size: 0.8em;
  }
}

.card-aniversariantes {
  --ion-item-background: #ffffff;

  ion-card-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cfd3d6;
  }

  ion-card-content {
    padding-top: 10px;
  }

  .card-aniversariantes-titulo {
    flex-grow: 1;
    text-transform: uppercase;
    font-size: 1.2em; 
  }

  .card-aniversariantes-data {
    display: flex;
    flex-direction: column;
    text-align: center;

    .card-aniversariantes-data-dia {
      font-size: 2em;
      color: var(--ion-color-primary);
    }
  }
}