<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button shape="round">
        <fa name="angle-left" size="2x"></fa>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Aniversariantes</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment">
      <ng-container *ngFor="let segment of segments">
        <ion-segment-button [value]="segment.value">
          {{ segment.label }}
        </ion-segment-button>
      </ng-container>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container [ngSwitch]="selectedSegment">
    <ng-container *ngSwitchCase="'aniversarios'">
      <app-aba-aniversarios></app-aba-aniversarios>
    </ng-container>
    <ng-container *ngSwitchCase="'unimed'">
      <app-aba-unimed></app-aba-unimed>
    </ng-container>
  </ng-container>
</ion-content>